html {
    background-color:rgb(209, 197, 218);
    padding: 30px; 
}

#header {
    color: rgb(66, 50, 10); 
}

.post {
    color: black; 
    font-size: 20px; 
    font-family:'Courier New', Courier, monospace;
}

#messages {
    background-color:rgba(43, 4, 4, 0.5);
    color: white;
    margin: 5px; 
    padding: 20px; 
    padding-top: 5px; 
    border: 2px dashed white; 
    height: 500px; 
}

#boo {
    position: absolute;
    top: 50px; 
    right: 50px; 
}